__pycache__/
env/
venv/
.env
*.pyc
.vscode/

# Arquivos de dados e scripts de carga
Troca Game Avaliação - Geral.xlsx
base
popula_catalogo.py

# Documentação de estrutura
estrutura.txt

# Arquivos temporários e uploads locais
logo.jpeg:Zone.Identifier
static/uploads/