__pycache__/
env/
venv/
.env
.env.*
*.pyc
.vscode/

# Pasta de utilitários e scripts (Não enviar para o GitHub)
utils/

# Arquivos de dados e scripts de carga
*.xlsx
*.csv
base
popula_catalogo.py

# Documentação de estrutura
estrutura.txt

# Arquivos temporários e uploads locais
*:Zone.Identifier
static/uploads/
flask_session/